name: Build OpenAPI bundle

on:
  push:
    branches:
      - master
    #paths:
    #  - 'standard/openapi/**.yaml'

jobs:
  build-openapi-bundle:
    name: Generate OpenAPI bundle
    runs-on: ubuntu-latest
    steps:
    - name: Setup npm
      uses: actions/setup-node@v2
    - name: Install dependencies
      run: npm install -g @apidevtools/swagger-cli
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Generate OpenAPI bundle
      run: |
        cd core/standard/openapi
        swagger-cli bundle -o /tmp/ogcapi-environmental-data-retrieval-1.bundled.json ogcapi-environmental-data-retrieval-1.yaml
    - name: Commit changes and push
      run: |
        git config --global user.email "tomkralidis@gmail.com"
        git config --global user.name "Tom Kralidis"
        mv -f /tmp/ogcapi-environmental-data-retrieval-1.bundled.json .
        git add .
        git commit -am "Updating OpenAPI build"
        git push
